.playerWidget {
    position: absolute;
    width: 100%;
    height: 39px;
    margin-bottom: 1px;
}

.playerWidget .button.mouseDown, .playerWidget .button.mouseDown:hover {
    background-color: gray!important;
}

.playerWidget .button:hover {
    background-color: #D4FFF7!important;
}

.playerWidget .button.play {
    background: url('../favicon.ico') no-repeat 50% 50%;
}
.playerWidget .button.pause, .playerWidget .button.pause:hover {
    background: url('../favicon.ico') no-repeat 50% 50%;
    background-color: black!important;
}
.playerWidget .button.prev {
    background: url('../favicon.ico') no-repeat 50% 50%;
}
.playerWidget .button.next {
    background: url('./resources/next.ico') no-repeat 50% 50%;
}

.playerWidget .button {
    float: right;
    background-size: 39px!important;
    width: 39px;
    height: 39px;
}

.playerWidget .progressBarContainer {
    position: absolute;
    background: #D4FFF7;
    left: 0px;
    right: 80px;
    height: 39px;
    overflow: hidden;
}

.playerWidget .progressBar {
    position: relative;
    background: #007FFF;
    width: 0%;
    height: 39px;
}