/* slim scroll wrapper */
.slimScrollDiv { margin-top: 1px; position: absolute!important; top: 30px;  bottom: 0px; width: 100%; height: auto!important;}


/* playlist container */
.playlistFrame { position: relative; width: 100%; height: 100%; margin-top: -1px; }


/* playlist header */

.playlistFrame .header { height: 30px; }
.playlistFrame .header .header-button { background-color: #f1f1f1; color: #007FFF; margin-left: 1px; float: left; width: 30px; height: 100%; line-height: 30px; text-align: center; cursor: default; }
.playlistFrame .header .header-button:hover { background-color: #D4FFF7; }
.playlistFrame .header .header-button.selected { background-color: #007FFF; color: white; }

/* playlist playlist */

.playlistFrame .playlist { height: 100%; }

/* video container */
.playlistFrame .playlist.pti-split-one>.pti-element-song, .playlistFrame .playlist.pti-split-one>*.pti-sortable-placeholder { width: 100%; }
.playlistFrame .playlist.pti-split-two>.pti-element-song, .playlistFrame .playlist.pti-split-two>*.pti-sortable-placeholder { width: 50%; }
.playlistFrame .playlist>* { float: left; cursor: default; overflow: hidden; position: relative; }
/*.playlistFrame .playlist>:nth-child(1):not(.display-none), .playlistFrame .playlist>:nth-child(2):not(.display-none) { height: 90px!important; }*/
/*.playlistFrame .playlist>:nth-child(1):not(.display-none)>:first-child , .playlistFrame .playlist>:nth-child(2):not(.display-none)>:first-child { margin: 0px!important; }*/
.playlistFrame .playlist>*>* { margin: 0px 0.5px 0.5px 0.5px; background-color: #f1f1f1; }
.playlistFrame .playlist>*:hover>* { background-color: #D4FFF7; color: #007FFF }
.playlistFrame .playlist>*.selected>div, .playlistFrame .playlist>*.selected:hover>div { background-color: #007FFF; }
.playlistFrame .playlist>*.ui-selected>div { background-color: orange!important; }
.playlistFrame .playlist>*.ui-selected.selected>div { background-color: orangered!important; }

.playlistFrame .playlist.pti-view-big>.pti-element-song { height: 91px; }
.playlistFrame .playlist.pti-view-big>*>* { height: 90px; }

.playlistFrame .playlist.pti-view-medium>.pti-element-song { height: 46px; }
.playlistFrame .playlist.pti-view-medium>*>* { height: 45px; }

.playlistFrame .playlist.pti-view-list>.pti-element-song { height: 21px; font-size: 11px; line-height: 21px; }
.playlistFrame .playlist.pti-view-list>*>* { height: 20px; }


/*
 various elements
                    */

/* image-div */
.playlistFrame .playlist>* .image-div { float: left; }

.playlistFrame .playlist.pti-view-big>* .image-div, .playlistFrame .playlist.pti-view-medium>* .image-div  { position: relative; }
.playlistFrame .playlist.pti-view-big>* .image-div { width: 123px; height: 90px; }
.playlistFrame .playlist.pti-view-medium>* .image-div { width: 63px; height: 45px; }

.playlistFrame .playlist.pti-view-big>* .image-div img, .playlistFrame .playlist.pti-view-big>* .image-div img, .playlistFrame .playlist.pti-view-medium>* .image-div img, .playlistFrame .playlist.pti-view-medium>* .image-div img { float: left; }
.playlistFrame .playlist.pti-view-big>* .image-div img, .playlistFrame .playlist.pti-view-big>* .image-div img { height: 90px; }
.playlistFrame .playlist.pti-view-medium>* .image-div img, .playlistFrame .playlist.pti-view-medium>* .image-div img { height: 45px; }

.playlistFrame .playlist.pti-view-list>* .image-div { width: 42px; height: 20px; }
.playlistFrame .playlist.pti-view-list>* .image-div img { display: none;}
.playlistFrame .playlist.pti-view-list>* .image-div .duration-caption { height: 20px;}
.playlistFrame .playlist.pti-view-list>* .image-div .pti-logo { display: none;}

.playlistFrame .playlist.pti-view-big>* .duration-caption, .playlistFrame .playlist.pti-view-medium>* .duration-caption { position: absolute; width: auto; height: auto; background: #000000; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; }
.playlistFrame .playlist.pti-view-big>* .duration-caption { right: 5px; bottom: 3px; font-size: 11px; }
.playlistFrame .playlist.pti-view-medium>* .duration-caption { right: 6px; bottom: 2px; font-size: 9px; }
.playlistFrame .playlist.pti-view-list>* .duration-caption { color: #007FFF; text-align: right; }


/* videoText error-text */
.playlistFrame .playlist>* .videoText, .playlistFrame .playlist>*:hover .videoText { color: #007FFF; }
.playlistFrame .playlist>* .error-text { position: relative; left: 10px; }
.playlistFrame .playlist>* .videoText { position: absolute; word-break: break-all; font-family: Arial, Helvetica, sans-serif; }
.playlistFrame .playlist>*.selected .videoText, .playlistFrame .playlist>*.selected:hover .videoText, .playlistFrame .playlist>*.selected .error-text>b>a:link, .playlistFrame .playlist>*.selected .error-text>b>a, .playlistFrame .playlist>*.selected .duration-caption  { color: white!important; }

.playlistFrame .playlist.pti-view-big>* .videoText, .playlistFrame .playlist.pti-view-big>* .videoText, .playlistFrame .playlist.pti-view-medium>* .videoText, .playlistFrame .playlist.pti-view-medium>* .videoText { font-size: 11px; padding-top: 2px; }
.playlistFrame .playlist.pti-view-big>* .error-text, .playlistFrame .playlist.pti-view-medium>* .error-text { top:35%; }

.playlistFrame .playlist.pti-view-medium>* .videoText br, .playlistFrame .playlist.pti-view-list>* .videoText br { display: none;}
.playlistFrame .playlist.pti-view-medium>* .videoText>:first-child:after, .playlistFrame .playlist.pti-view-list>* .videoText>:first-child:after { content: " " }

.playlistFrame .playlist.pti-view-list>* .videoText { margin-left: 5px }
.playlistFrame .playlist.pti-view-list>* .videoText, .playlistFrame .playlist.pti-view-list>* .videoText {  }
.playlistFrame .playlist.pti-view-list>* .error-text {  }


/* sortable, droppable, selectable, playlist type */
.playlistFrame .playlist .pti-droppable-target { display:inline; clear: both; float: left; width: 100%;}


.playlistFrame .playlist>*.pti-sortable-placeholder { float:left; }

.playlistFrame .playlist.pti-view-big>*.pti-sortable-placeholder, .playlistFrame .playlist.pti-view-medium>*.pti-sortable-placeholder { margin: 0px; padding: 0px; border: none;}
.playlistFrame .playlist.pti-view-big>*.pti-sortable-placeholder { height: 91px;}
.playlistFrame .playlist.pti-view-medium>*.pti-sortable-placeholder { height: 46px;}

.playlistFrame .playlist.pti-view-list>*.pti-sortable-placeholder { height: 21px;}


.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }
.ui-sortable-helper { pointer-events: none; }
.playlistFrame .playlist:not(.calendar)>.pti-view-big .pti-logo { position: absolute; width: 25px; height: 25px; bottom: 5px; left: 5px; background-image: url('../favicon.ico'); background-size: 100%; background-repeat: no-repeat; }
.playlistFrame .playlist:not(.calendar)>.pti-view-big.selected .pti-logo { background-image: none; }


/* misc */
.playlistFrame .playlist .display-none { width:0px!important; height: 0px!important; float: right!important;}





