body { height: 100%; }
.max-width {width: 100% }
.auto {width: auto; height: auto;}
.post-hover { background-color: rgb(220, 220, 220) }
#ytplayer { width: 100% }
.taArea {width: 100%; height: 200px; }
#dPLists { position: fixed; float: left; width: 100%; height: 100%; }
#firstView, #secondView { float: left; width: 50%; height: 100%; }
.leftFull { float: left; width: 100%; height: 100% }
.tabs-player-container { position: absolute; width: 100%; top: 30px; bottom: 0px; }
