body { height: 100%; }
.taArea {width: 98%; height: 200px; }
.max-width {width: 98% }
.auto {width: auto; height: auto;}
#dPLists { position: fixed; float: left; width: 99.2%; height: 98.8%; }
#firstView, #secondView { float: left; width: 50%; height: 100%; }
.slimScrollDiv { float:left; width: 100%; height: 100%; }
.ui-sortable-helper { width: 49.6%; }
.internalFrame { float: left; width: 100%; height: 50%; overflow-x: hidden; overflow-y: scroll; }
.playlistFrame { float: left; width: 100%; height: 99%; overflow-x: hidden; overflow-y: hidden; }
/*		#ulFirst div, #ulSecond div { float: left; width: 49%; height: 90px; font-size: 4em; text-align: left;}*/
#ulFirst .ui-state-default, #ulSecond .ui-state-default { float:left; cursor: default; width: 49.6%; height: 90px;  }
.selected { background-image:url(/selected.png)}
.image-div { float: left; position: relative; width: 123px; height: 90px; }
#ulFirst img, #ulSecond img { float: left; height: 90px; }
.duration-caption { float: right; position: absolute; width: auto; height: auto; background: #000000; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
#ulFirst span, #ulSecond span { word-break: break-all; font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding-top: 2px; }
.error-text { position: relative; left: 10px; top:35%; }
.disabled-Video { opacity: 0.4 }