/* slim scroll wrapper */
.slimScrollDiv { float:left; width: 100%; height: 100%; }

/* playlist container */
.playlistFrame { float: left; width: 100%; height: 99%; }

/* video container */
.pti-state-default { float:left; cursor: default; width: 50%; height: 91px; }
.playlistFrame > :nth-child(1).pti-state-default:not(.display-none), .playlistFrame > :nth-child(2).pti-state-default:not(.display-none) { height: 90px!important; }
.playlistFrame > :nth-child(1).pti-state-default:not(.display-none) > :first-child, .playlistFrame > :nth-child(2).pti-state-default:not(.display-none) > :first-child { margin-top: 0px!important; }
.pti-state-default > div { height: 90px; width:auto ; margin: 0.5px; background-color: #f1f1f1; }
.pti-state-default:hover > div { background-color: #D4FFF7; color: #007FFF }
.pti-state-default.selected > div, .pti-state-default.selected:hover > div { background-color: #007FFF; }
.pti-state-default.ui-selected>div { background-color: orange!important; }
.pti-state-default.ui-selected.selected>div { background-color: orangered!important; }

/* various elements */
.pti-state-default .image-div { float: left; position: relative; width: 123px; height: 90px; }
.pti-state-default .image-div img, .pti-state-default .image-div img { float: left; height: 90px; }

.pti-state-default .duration-caption { position: absolute; width: auto; height: auto; right: 5px; bottom: 3px; background: #000000; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 11px; }

.pti-state-default .videoText, .pti-state-default .videoText { word-break: break-all; font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding-top: 2px; }
.pti-state-default .videoText, .pti-state-default:hover .videoText { color: #007FFF; }
.pti-state-default.selected .videoText, .pti-state-default.selected:hover .videoText, .pti-state-default.selected .error-text>b>a:link { color: white!important; }
.pti-state-default .error-text { position: relative; left: 10px; top:35%; }

.pti-state-default-droppable-target { display:inline; clear: both; float: left; width: 100%;}
.pti-state-default-sortable-placeholder { float:left!important; position:relative!important; width: 50%!important; height: 91px!important; margin: 0px; padding: 0px; border: none;}
.playlistFrame .ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }
.playlistFrame:not(.calendar)>.pti-state-default .pti-logo { position: absolute; width: 25px; height: 25px; bottom: 5px; left: 5px; background-image: url('favicon.ico'); background-size: 100%; background-repeat: no-repeat; }
.playlistFrame:not(.calendar)>.pti-state-default.selected .pti-logo { background-image: none; }

.playlistFrame .display-none { width:0px!important; height: 0px!important; float: right!important;}





