body { height: 100%; }
.taArea {width: 100%; height: 200px; }
.max-width {width: 100% }
.auto {width: auto; height: auto;}
#dPLists { position: fixed; float: left; width: 100%; height: 98.8%; }
#firstView, #secondView { float: left; width: 50%; height: 100%; }
.slimScrollDiv { float:left; width: 100%; height: 100%; }
.ui-sortable-helper { width: 50%; }
.internalFrame { float: left; width: 100%; height: 50%; overflow-x: hidden; overflow-y: scroll; }
.playlistFrame { float: left; width: 100%; height: 99%; overflow-x: hidden; overflow-y: hidden; }
.pti-state-default { float:left; cursor: default; width: 50%; height: 91px; }
.pti-state-default > div { height: 90px; width:auto ; margin: 0.5px; }
.pti-state-default { font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; background-color: #f1f1f1;}
.pti-state-default > div {
    background-color: #f1f1f1;
}

.pti-state-default > div > span, .pti-state-default:hover > div > span {
    color: #007FFF;
}
.pti-state-default:hover > div {
    background-color: #D4FFF7;
    color: #007FFF
}

.pti-state-default:hover > div > span {
    color: #007FFF
}

.selected > div, .selected:hover > div {
    background-color: #007FFF;
}

.post-hover {
    background-color: rgb(220, 220, 220)
}


.selected > div> span, .selected:hover > div > span {
    color: white;
}

.selected > div{ background-color: #007FFF;}
.image-div { float: left; position: relative; width: 123px; height: 90px; }
#ulFirst img, #ulSecond img { float: left; height: 90px; }
.duration-caption { float: right; position: absolute; width: auto; height: auto; background: #000000; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
#ulFirst span, #ulSecond span { word-break: break-all; font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding-top: 2px; }
.error-text { position: relative; left: 10px; top:35%; }
.disabled-Video { opacity: 0.4 }
#ytplayer { width: 100% }
